/*/////////////////////
   GOOGLE  FONT LINKS
/////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

nav {
  display: flex;
  border: 1px blue solid;
}

/*///////////////
  Classes
///////////////*/

.burger {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: red;
  width: 100%;
}

.nav-item {
  list-style-type: none;
  display: flex;
}

/* ///////////////
   IDs
////////////////*/

#mobile-nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 10%;
}

#mobile-nav span {
  border:black solid 2px;
  height: 3px;
  width: 30px;
  margin: 1px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

/* #mobile-nav span:nth-child(1).active {
  border: green solid 2px;
  transform: translate(-40%, -50%) rotate(45deg);
}

#mobile-nav span:nth-child(2).active {
  display: none;
}

#mobile-nav span:nth-child(3).active {
  border: orange solid 2px;
  transform: translate(-45%, -200%) rotate(-45deg);
} */

#introduction {
  padding: 10%;
  text-align: center;
}

#about-section,
#contact-section,
#work-section {
  padding: 10%;
  border-bottom: 1px solid black;
}

/* ///////////////
   FLEX Rules
////////////////*/

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.flex-item-row {
  display: flex;
}

.flex-item-column {
  display: flex;
  flex-direction: column;
}


/* MOBILE NAVIGATION - ACTIVE STATE */



/* ///////////////
   MEDIA QUERIES
////////////////*/

/* Hides Mobile Nav at 700px */
@media (min-width: 700px) {
  #mobile-nav {
    display: none;
  }
}
/* Display the Desktop Nav at 700px or more */
@media (max-width: 700px) {
  #desktop-nav {
    display: none;
  }
}
