/*/////////////////////
   GOOGLE  FONT LINKS
/////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

address a {
  color: white;
  text-decoration: none;
  margin: 5%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

body {
  margin: 0;
  justify-content: center;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 60px;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 30px;
}

p {
  font-family: "Raleway";
  font-size: 17px;
}

/*///////////////
  Classes
///////////////*/

/* .card {
  border: 1px solid black;
  border-radius: 5%;
  padding: 5%;
  margin: 10%;
  box-shadow: 0px 10px 10px 0 rgb(172, 172, 172);
} */

.card {
  display: flex;
  flex-grow: 2;
  margin: 2%;
  width: 300px;
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 7px 11px 4px black;
  background: linear-gradient(0deg, #1d1e22 0.5%, #1a1b1f 110%);
  justify-content: center;
  align-items: center;
  color: white;
}

.darken {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-image-1 {
  background-image: url("./imgs/carpenter.jpg");
  background-color: #575757;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-2 {
  background-image: url("./imgs/saw-landscape.jpg");
  background-color: #575757;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-3 {
  background-image: url("./imgs/wooden-table-landscape.jpg");
  background-color: #575757;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-4 {
  background-image: url("./imgs/wood-shavings.jpg");
  background-color: #575757;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.top-hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* ///////////////
   IDs
////////////////*/

#introduction {
  padding: auto;
  text-align: center;
  height: 100vh;
}

#about-section,
#contact-section,
#work-section {
  padding: 10%;
  height: 125vh;
}

#work-section {
  overflow: scroll;
}

#gallery {
  padding-top: 10%;
}

#work-section::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* ///////////////
   FLEX Rules
////////////////*/

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.flex-item-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-column {
  display: flex;
  flex-direction: column;
  margin: 0 10% 0 10%;
  flex-grow: 1;
}

/* ///////////////////////////////
MOBILE NAVIGATION - ACTIVE STATE 
////////////////////////////////*/

.burger {
  display: flex;
  flex-direction: column;
}

.burger span {
  border-radius: 10px;
  margin: 2px;
  height: 5px;
  width: 40px;
  background-color: black;
  transition: 200ms all ease-in-out;
}

.active span:nth-child(1) {
  transform: translate(-35%, 90%) rotate(45deg);
}

.active span:nth-child(2) {
  display: none;
}

.active span:nth-child(3) {
  transform: translate(-35%, -90%) rotate(-45deg);
}

/* ///////////////
   MEDIA QUERIES
////////////////*/

/* Hides Mobile Nav at 700px */
@media (min-width: 700px) {
  #mobile-nav {
    display: none;
  }
}
/* Display the Desktop Nav at 700px or more */
@media (max-width: 700px) {
  #desktop-nav {
    display: none;
  }
}

/* mobile nav */
/* NEW NAV */
.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(206, 157, 54);
  z-index: 200;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 600ms ease-in-out;
}
.navigation.active {
  clip-path: circle(75%);
}
.navigation .ham-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.navigation .ham-btn span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  background: white;
  transition: all 200ms ease-in-out;
}
.navigation .ham-btn span:nth-child(1) {
  top: 30%;
}
.navigation .ham-btn span:nth-child(2) {
  top: 50%;
}
.navigation .ham-btn span:nth-child(3) {
  top: 70%;
}

.navigation.active .ham-btn span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navigation.active .ham-btn span:nth-child(2) {
  display: none;
}
.navigation.active .ham-btn span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navigation .links a {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: "roboto";
}
.navigation .links a:after {
  /* creates an underline feature without text-decoration */
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background: white;
  transition: all 300ms ease-in-out;
}
.navigation .links a:hover:after {
  /* animates the underline */
  width: 100%;
}
